<% if @all_lists.any? %>
  <h1> This be yo lists </h1>
  <ul>
    <% @all_lists.each() do |list| %>
      <li><a href ="/single_list/<%= list.id() %>"><%= list.name() %></a></li>
    <% end %>

<% else %>
  <h4>Damn you lazy.  There ain't no lists here.  Make a motherfuckin list!</h4>
<% end %>

<form action="/new_list" method="post">
    <label for = "user_list_input">Insert your list here, baby:</label>

    <input id="user_list_input" name="user_list_input" type="text">
  <button type="submit" class='btn btn-success'>Let's do it!</button>
</form>
</ul>
